<!DOCTYPE html>
<html>
<head>
    <title>ShopMate - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
	{% if session.get('username') %}
    		<span>Welcome, {{ session['username'] }} | <a href="{{ url_for('logout') }}">Logout</a></span>
	{% else %}
    		<a href="{{ url_for('login') }}">Login</a>
    		<a href="{{ url_for('register') }}">Register</a>
    	{% endif %}
    
        <h1>ShopMate</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('cart') }}">Cart</a>
        </nav>
    </header>

    <main>
        <section class="products">
            {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p>${{ product.price }}</p>
                <a href="{{ url_for('add_to_cart', product_id=product.id) }}">
                    <button>Add to Cart</button>
                </a>
            </div>
            {% endfor %}
        </section>
    </main>
</body>
</html>

